<%= link_to "Go Back", :back %>
<hr>
<div class="container">
  <% if @answer.status %>
    <%= render html: @answer.spectml.html_safe %>
  <% else %>
    <%= render partial: "answers/_spectml/#{@answer.set_file_path}" %>
  <% end -%>
</div>